@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
	/* Primary */

	--clr-soft-blue: hsl(215, 51%, 70%);
	--clr-cyan: hsl(178, 100%, 50%);

	/* Neutral */

	--clr-very-dark-blue-main-BG: hsl(217, 54%, 11%);
	--clr-very-dark-blue-card-BG: hsl(216, 50%, 16%);
	--clr-very-dark-blue-line: hsl(215, 32%, 27%);
	--clr-white: hsl(0, 0%, 100%);
}

html {
	font-family: "Outfit", sans-serif;
	font-size: 18px;
	font-weight: 300;
}

/* Main styles */

body {
	display: flex;
	justify-content: center;
	align-items: center;

	min-height: 100vh;

	margin: 0;
	padding: 1.5rem;

	box-sizing: border-box;

	background-color: var(--clr-very-dark-blue-main-BG);
	color: var(--clr-white);
}

h1 {
	font-weight: 600;
	font-size: 1.3rem;
}

p {
	font-size: 0.9rem;
}

img {
	width: 100%;
}

.lite {
	color: var(--clr-soft-blue);
	opacity: 0.6;
}

.wrap {
	display: flex;
	align-items: center;
	gap: 1rem;
}

main {
	max-width: 15rem;

	padding: 1.5rem;

	border-radius: 1rem;

	background-color: var(--clr-very-dark-blue-card-BG);
	box-shadow: 0 0 5rem rgba(0, 0, 0, 0.5);
}

.details {
	justify-content: space-between;
}
.details > * {
	font-weight: 400;
}

.cost {
	color: var(--clr-cyan);
}
.cost::before {
	content: url("./images/icon-ethereum.svg");
	margin-right: 0.3rem;
	vertical-align: middle;
}
.duration {
	color: var(--clr-soft-blue);
}
.duration::before {
	content: url("./images/icon-clock.svg");
	margin-right: 0.3rem;
	vertical-align: middle;
}

.author {
	padding-top: 1rem;
	border-top: 1px solid var(--clr-very-dark-blue-line);
}
.author > * {
	margin: 0;
}

.nft-img {
	border-radius: 1rem;
}

.avatar-img {
	width: 2rem;
	border: 1px solid var(--clr-white);
	border-radius: 100%;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 10px;
}
